@media (max-width: 600px) {
  body {
    font-family: "Open Sans", sans-serif;
  }

  header img {
    width: 208px;
    height: 57px;
  }

  nav {
    height: 58px;
    border-color: #e6e6e6;
  }

  nav div {
    width: 92vw;
    height: 58px;
    margin: 0 auto;

    justify-content: space-evenly;
    align-items: center;
  }

  nav .mobile {
    display: flex;
  }

  nav .desktop {
    display: none;
  }

  nav a {
    letter-spacing: -0.065em;
  }

  .g1 {
    color: #a80001;
  }

  .ge {
    color: #06aa48;
  }

  .gshow {
    color: #ff7f00;
  }

  .tech {
    color: #666;
  }

  .videos {
    color: #0769de;
  }

  main {
    width: 92vw;
    flex-direction: column;
    margin: 16px auto 32px;
  }

  .main-news {
    width: 100%;
    color: #cd150b;
  }

  h1 {
    color: inherit;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.028em;

    margin-bottom: 15px;
  }

  .headlines p {
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;

    margin-top: 7px;
  }

  .g1-news > div {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .g1-news > div:first-child {
    margin: 0;
    padding: 0;
    border: none;
  }

  .g1-news article,
  .ge-news article,
  .gshow-news article {
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #e6e6e6;
  }

  .g1-news img,
  .ge-news img,
  .gshow-news img {
    width: 120px;
    height: 67px;
    border-radius: 3px;
    margin-bottom: 0;
  }

  article div {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    margin-bottom: 17px;
  }

  h2 {
    display: none;
  }

  .g1-news h2 {
    color: #c4170c;
  }

  .lead {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.045em;

    margin: 0;
    padding-right: 0;
  }

  .quote {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }

  .ge-news {
    width: 100%;
    color: #06aa48;
    padding: 0;
    margin: 0;
    border: none;
  }

  .ge-news,
  .gshow-news {
    gap: 0;
  }

  .ge-news h2 {
    color: inherit;
  }

  .gshow-news {
    width: 100%;
    color: #ff8203;
  }

  .gshow-news h2 {
    color: inherit;
  }
}
