@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Encode Sans", sans-serif;
  color: #2f3134;
}

picture {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 171px;
}

nav {
  border: 1px solid #f5f6f7;
  height: 80px;
}

nav ul:first-child {
  width: 1250px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul:last-child {
  display: none;
}

nav li:nth-child(1) {
  color: #c3170c;
}

nav li:nth-child(2) {
  color: #1e4b9b;
}

nav li:nth-child(3) {
  color: #006766;
}

nav li:nth-child(4) {
  color: #07aa47;
}

nav li:nth-child(5) {
  color: #e3662b;
}

nav li:nth-child(6) {
  color: #fb0735;
}

nav li:nth-child(7) {
  color: #ec7d00;
}

nav li:nth-child(8) {
  color: #323333;
}

nav li:nth-child(9) {
  color: #a81d83;
}

nav a {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  letter-spacing: -0.02em;
}

a {
  transition: all 400ms;
}

a:hover {
  opacity: 0.6;
}

main {
  width: 1250px;
  margin: 36px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-news {
  width: 624px;
}

h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  letter-spacing: -0.01em;

  color: #c4160c;
  margin-bottom: 29px;
}

.headline p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;

  color: #303134;
  margin-bottom: 7px;
}

.g1-news {
  border-top: 1px solid #ebedef;
  padding-top: 25px;
  margin-top: 25px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.g1-news article {
  width: 193px;
}

.g1-news img {
  border-radius: 12px;
  margin-bottom: 11px;
}

h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 6px;
}

.g1-news h2 {
  color: #c4170c;
}

.lead {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  margin-bottom: 5px;
}

.quote {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.048em;
  margin-bottom: 9px;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 50px;
}

.ge-news {
  border-left: 1px solid #ebedef;
  border-right: 1px solid #ebedef;
  width: 312px;
  align-items: center;
  padding: 0 35px;
  margin: 0 36px;
}

.news img {
  width: 240px;
  border-radius: 12px;
}

.ge-news h2 {
  color: #16ae54;
}

.gshow-news {
  width: 240px;
}

.gshow-news h2 {
  color: #ec8006;
}

@media (max-width: 1249px) {
  body {
    font-family: "Open Sans", sans-serif;
  }
  header img {
    width: 208px;
  }

  nav {
    height: 58px;
  }
  nav ul:first-child {
    display: none;
  }

  nav ul:last-child {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  nav li:nth-child(1) {
    color: #a80001;
  }

  nav li:nth-child(2) {
    color: #06aa48;
  }

  nav li:nth-child(3) {
    color: #ff7f00;
  }

  nav li:nth-child(4) {
    color: #666;
  }

  nav li:nth-child(5) {
    color: #0769de;
  }

  main {
    width: calc(100vw - 30px);
    margin: 15px;
    display: block;
  }

  .main-news {
    width: 100%;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.028em;
    color: #cd150b;
    margin-bottom: 14px;
  }

  .headline p {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;

    color: #cd150b;
  }

  .g1-news {
    border: none;
    padding-top: 0;
    margin-top: 0;

    display: block;
  }

  .g1-news article {
    color: #cd150b;
  }

  .g1-news article,
  .news article {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
  }

  .g1-news-img article a,
  .news article a {
    display: grid;
    grid-template-columns: 120px calc(100% - 130px);
    grid-template-areas:
      "img lead"
      "quote quote";
    gap: 10px;
  }

  .g1-news img,
  .news img {
    grid-area: img;
    width: 120px;
    border-radius: 3px;
    margin-bottom: 0;
  }

  h2 {
    display: none;
  }

  .lead {
    grid-area: lead;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }

  .quote:not(.muti-quote) {
    grid-area: quote;
    font-size: 16px;
    margin-bottom: 0;
  }

  .news {
    display: block;
  }

  .ge-news {
    color: #06aa48;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .quotes {
    grid-area: quote;
  }
  .gshow-news {
    width: 100%;
    color: #ff8203;
  }
}
